p {
  font-family: $dmSans;
}

.h2 {
  font-family: $ultra;
}

.btn {
  font-family: $oswald;
}

.above {
  display: block;
  font-family: $oswald;
  text-transform: uppercase;
  letter-spacing: 3px;
}
