//Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$light_black: rgba(51, 51, 51, 0.5);
$deep_yellow: rgba(249, 191, 119, 1);
$light_yellow: rgba(231, 212, 190, 0.44);

//Fonts
$dmSans: "DM Sans";
$oswald: "Oswald";
$ultra: "Ultra";

//Weights
$light: 300;
$normal: 400;
$medium: 500;
$semi: 600;
$bold: 700;

//Transitions
$normal: 0.4s all ease-in-out;
